# DeepLabCut Data Analysis and Visualization

This notebook performs an initial exploration of pose estimation data obtained from DeepLabCut (DLC). The goal is to better understand the movement and position patterns before building a machine learning pipeline.

## 1. Load Data

The data consists of 2D coordinates of keypoints tracked over video frames.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")

from asoid_utils.preprocessing import adp_filt

import os
from dotenv import load_dotenv
load_dotenv()
DLC_DATASET_PATH = os.getenv('DLC_DATASET_PATH')

FRAME_RATE = 30
SAMPLE_RATE = 10
MULTI_ANIMAL = False
LIKELIHOOD_THRESHOLD = 0.6
BODY_PARTS = ["tailbase", "earR", "earL", "msBase", "msTop", "centroid", "cleft", "cright"]
RULE_BASED_LABELS = ["shuttles_label_naive1", "shuttles_label_naive2", "shuttles_label_naive3", "shuttles_label_hardcoded", "freezing_label"]

In [42]:
# Multi-level header
df_pose_labels = pd.read_csv(DLC_DATASET_PATH + "/labelled_DLC.csv", header=[0, 1], index_col=0)

# Flatten the multi-level header into single strings
df_pose_labels.columns = ['_'.join(col).strip() for col in df_pose_labels.columns.values]

# Remove second level header if it is empty
df_pose_labels.columns = [col.split("_Unnamed")[0] if "_Unnamed" in col else col for col in df_pose_labels.columns.values]

# Remove NaN columns and rows
df_pose_labels = df_pose_labels.dropna(axis=1, how='all')
df_pose_labels = df_pose_labels.dropna(axis=0, how='any')

print("Shape of df_pose_labels:", df_pose_labels.shape)
df_pose_labels.head()

Shape of df_pose_labels: (20000, 32)

,tailbase_x,tailbase_y,tailbase_likelihood,earR_x,earR_y,earR_likelihood,earL_x,earL_y,earL_likelihood,msBase_x,...,cright_y,cright_likelihood,calc_centroid_x,calc_centroid_y,speed,shuttles_label_naive1,shuttles_label_naive2,shuttles_label_naive3,shuttles_label_hardcoded,freezing_label
0,215.430298,318.572968,0.999996,335.296844,346.048737,0.999918,351.505981,309.215546,0.999891,351.370636,...,345.997833,0.999949,313.400940,326.633553,0.000000,0,0,0,0,0
1,216.124664,319.105774,0.999997,334.252045,349.912659,0.999950,351.527374,307.669678,0.999980,351.550171,...,347.752991,0.999950,313.363564,327.412323,0.779667,0,0,0,0,0
2,215.643936,319.362427,0.999998,333.880310,349.696228,0.999942,351.895233,308.665619,0.999976,352.242249,...,348.114502,0.999924,313.415432,327.838448,0.429270,0,0,0,0,0
3,216.000183,319.383545,0.999997,334.263062,349.323456,0.999920,351.224792,307.465485,0.999981,351.896088,...,347.783112,0.999937,313.346031,327.274757,0.567946,0,0,0,0,0
4,215.784775,319.112488,0.999998,334.187714,349.681763,0.999959,351.621399,307.867065,0.999985,351.576569,...,347.832947,0.999970,313.292614,327.455528,0.188498,0,0,0,0,0

In [43]:
df_labels = df_pose_labels[RULE_BASED_LABELS]

print("Shape of df_labels:", df_labels.shape)
df_labels.head()

Shape of df_labels: (20000, 5)

,shuttles_label_naive1,shuttles_label_naive2,shuttles_label_naive3,shuttles_label_hardcoded,freezing_label
0,0,0,0,0,0
1,0,0,0,0,0
2,0,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,0

In [44]:
# all unlabeled are placed into "other"
df_labels_other = df_labels.copy()
df_labels_other["other"] = 0

# find all unlabeled
unlabeled_data = df_labels_other.sum(axis=1) == 0

# change all unlabeled to 1 in other
df_labels_other.loc[unlabeled_data, "other"] = 1

print("Shape of df_labels_other:", df_labels_other.shape)
df_labels_other.head()

Shape of df_labels_other: (20000, 6)

,shuttles_label_naive1,shuttles_label_naive2,shuttles_label_naive3,shuttles_label_hardcoded,freezing_label,other
0,0,0,0,0,0,1
1,0,0,0,0,0,1
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,0,0,0,1

In [45]:
df_pose = df_pose_labels.drop(columns=RULE_BASED_LABELS)

print("Shape of df_pose:", df_pose.shape)
df_pose.head()

Shape of df_pose: (20000, 27)

,tailbase_x,tailbase_y,tailbase_likelihood,earR_x,earR_y,earR_likelihood,earL_x,earL_y,earL_likelihood,msBase_x,...,centroid_likelihood,cleft_x,cleft_y,cleft_likelihood,cright_x,cright_y,cright_likelihood,calc_centroid_x,calc_centroid_y,speed
0,215.430298,318.572968,0.999996,335.296844,346.048737,0.999918,351.505981,309.215546,0.999891,351.370636,...,0.999951,281.177429,278.164520,0.999803,275.792725,345.997833,0.999949,313.400940,326.633553,0.000000
1,216.124664,319.105774,0.999997,334.252045,349.912659,0.999950,351.527374,307.669678,0.999980,351.550171,...,0.999983,281.244598,276.559937,0.999884,277.471069,347.752991,0.999950,313.363564,327.412323,0.779667
2,215.643936,319.362427,0.999998,333.880310,349.696228,0.999942,351.895233,308.665619,0.999976,352.242249,...,0.999982,282.179657,276.486542,0.999849,276.880859,348.114502,0.999924,313.415432,327.838448,0.429270
3,216.000183,319.383545,0.999997,334.263062,349.323456,0.999920,351.224792,307.465485,0.999981,351.896088,...,0.999978,283.015259,276.601379,0.999904,277.634735,347.783112,0.999937,313.346031,327.274757,0.567946
4,215.784775,319.112488,0.999998,334.187714,349.681763,0.999959,351.621399,307.867065,0.999985,351.576569,...,0.999984,282.534119,277.098724,0.999917,276.700134,347.832947,0.999970,313.292614,327.455528,0.188498

## 2. Basic Info & Summary Statistics

In [46]:
df_pose.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 19999
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tailbase_x           20000 non-null  float64
 1   tailbase_y           20000 non-null  float64
 2   tailbase_likelihood  20000 non-null  float64
 3   earR_x               20000 non-null  float64
 4   earR_y               20000 non-null  float64
 5   earR_likelihood      20000 non-null  float64
 6   earL_x               20000 non-null  float64
 7   earL_y               20000 non-null  float64
 8   earL_likelihood      20000 non-null  float64
 9   msBase_x             20000 non-null  float64
 10  msBase_y             20000 non-null  float64
 11  msBase_likelihood    20000 non-null  float64
 12  msBase_x.1           20000 non-null  float64
 13  msTop_y              20000 non-null  float64
 14  msTop_likelihood     20000 non-null  float64
 15  centroid_x           20000 non-null  float64
 16  centroid_y           20000 non-null  float64
 17  centroid_likelihood  20000 non-null  float64
 18  cleft_x              20000 non-null  float64
 19  cleft_y              20000 non-null  float64
 20  cleft_likelihood     20000 non-null  float64
 21  cright_x             20000 non-null  float64
 22  cright_y             20000 non-null  float64
 23  cright_likelihood    20000 non-null  float64
 24  calc_centroid_x      20000 non-null  float64
 25  calc_centroid_y      20000 non-null  float64
 26  speed                20000 non-null  float64
dtypes: float64(27)
memory usage: 4.3 MB

In [47]:
df_pose.describe().T

,count,mean,std,min,25%,50%,75%,max
tailbase_x,20000.0,387.713075,153.660210,69.017937,260.557030,358.448959,526.712326,788.670776
tailbase_y,20000.0,254.462539,68.018463,59.827847,208.120079,259.345657,308.617203,391.764801
tailbase_likelihood,20000.0,0.981936,0.084167,0.004577,0.999474,0.999971,0.999994,1.000000
earR_x,20000.0,388.674316,176.607557,9.667383,258.944054,356.780731,522.892899,821.359802
earR_y,20000.0,266.560390,80.980086,44.658031,211.077774,292.385620,329.222214,424.513489
earR_likelihood,20000.0,0.985140,0.087370,0.008146,0.999368,0.999890,0.999971,1.000000
earL_x,20000.0,393.266979,179.023002,32.378056,267.113480,370.085068,544.096985,830.715149
earL_y,20000.0,263.302823,82.131447,43.581833,209.631668,285.433441,325.312035,436.150269
earL_likelihood,20000.0,0.985476,0.090719,0.005108,0.999636,0.999923,0.999976,1.000000
msBase_x,20000.0,390.333988,182.655025,15.762933,256.992073,368.558289,536.291153,845.399597
msBase_y,20000.0,267.021379,85.973741,42.824722,214.388382,289.989258,333.064972,434.168213
msBase_likelihood,20000.0,0.980331,0.091823,0.005469,0.997126,0.999547,0.999886,0.999999
msBase_x.1,20000.0,390.737703,192.662817,13.329924,240.218319,385.749893,533.930405,841.322144
msTop_y,20000.0,268.231513,98.150342,17.827698,202.691494,289.064621,352.492126,409.250977
msTop_likelihood,20000.0,0.979575,0.087908,0.010899,0.997344,0.999726,0.999938,1.000000
centroid_x,20000.0,389.192886,161.047755,77.597595,284.921600,342.002472,531.534256,768.090576
centroid_y,20000.0,259.597642,66.343237,84.780289,215.246582,274.539902,311.786880,368.984802
centroid_likelihood,20000.0,0.999249,0.024000,0.002503,0.999954,0.999981,0.999992,1.000000
cleft_x,20000.0,392.065270,163.759152,44.106117,273.781502,358.570663,540.411453,783.511475
cleft_y,20000.0,259.705565,70.153864,53.120728,212.300434,265.169846,321.100143,433.759521
cleft_likelihood,20000.0,0.990055,0.070589,0.000897,0.999370,0.999844,0.999952,0.999999
cright_x,20000.0,385.244274,161.942931,71.969597,281.108856,332.173248,522.506165,783.999451
cright_y,20000.0,260.912088,71.483216,56.431293,215.145329,276.921310,307.918556,430.966431
cright_likelihood,20000.0,0.991942,0.061716,0.002024,0.999558,0.999892,0.999961,0.999999
calc_centroid_x,20000.0,389.997089,167.070521,62.923077,275.146367,347.153103,528.723032,792.607132
calc_centroid_y,20000.0,262.836782,71.747247,73.195325,214.529068,284.999100,319.565042,390.823051
speed,20000.0,3.514119,4.070669,0.000000,0.714183,2.338432,5.092857,116.412505

In [51]:
# Filter rows where a specific label equals 1
for label in RULE_BASED_LABELS + ["other"]:
    subtable = df_labels_other[df_labels_other[label] == 1]
    print(f"Shape of subtable for {label}: {subtable.shape}")

Shape of subtable for shuttles_label_naive1: (903, 6)
Shape of subtable for shuttles_label_naive2: (1006, 6)
Shape of subtable for shuttles_label_naive3: (415, 6)
Shape of subtable for shuttles_label_hardcoded: (1122, 6)
Shape of subtable for freezing_label: (2209, 6)
Shape of subtable for other: (16010, 6)

In [54]:
# Filter rows where all specified labels are 1
all_shuttles_label_1 = df_labels[
    (df_labels["shuttles_label_naive1"] == 1) &
    (df_labels["shuttles_label_naive2"] == 1) &
    (df_labels["shuttles_label_naive3"] == 1) &
    (df_labels["shuttles_label_hardcoded"] == 1)
]
print(f"Shape of rows where all shuttles labels are 1: {all_shuttles_label_1.shape}")

# Filter rows where any of the specified labels are 1
any_shuttles_label_1 = df_labels[
    (df_labels["shuttles_label_naive1"] == 1) |
    (df_labels["shuttles_label_naive2"] == 1) |
    (df_labels["shuttles_label_naive3"] == 1) |
    (df_labels["shuttles_label_hardcoded"] == 1)
]
print(f"Shape of rows where any shuttles label is 1: {any_shuttles_label_1.shape}")

Shape of rows where all shuttles labels are 1: (80, 5)
Shape of rows where any shuttles label is 1: (1781, 5)

## 3. Filter by Likelihood

Smooths out unreliable keypoint coordinates based on confidence values (likelihoods).